@import 'https://fonts-av1.pages.dev/fonts.css';
:root {
    --vp-font-family-base: var(--main-font, system-ui) !important;/* 文本字体 */
    --vp-font-family-mono: var(--main-font, system-ui) !important;/* 代码字体 */
}
  